@media screen and (max-width : 1245px) {

    /* header{
        padding: 3rem 6rem;
    } */

    /* header .logo img{
        height: 3rem;
    } */

    header .navBar{
        overflow-x: hidden;
    }

    header .navBar .search input.show{
        max-width: 15rem;
    }

    header .menu li{
        font-size: 1.5rem;
    }

    header .menu .menuSub{
        font-size: 1.5rem;
    }
}

@media screen and (max-width : 1145px) {

    main{
        display: flex;
        flex-direction: column;
    }

    main .container{
        padding: 1%;
        width: 100%;
    }

    main .container .title img{
        width: 100%;
    }

    .posts{
        min-width: 100%;
    }

    

    header .navBar{
        display: none;
    }

    header {
        /* height: 100%; */
        display: flex;
        align-items: center;
    }

    header .container{
        margin: 0 auto;
    }

    header .mobileMenu i{
        display: initial;
    }

    #headerFixed{
        max-height: 7.5rem;
    }

    #rootHome table .tbContent .proAct a{
        font-size: 1.4rem;
    }
}

@media screen and (max-width : 845px) {

    #rootHome h5,
    #rootMonth h5,
    #rootCall h5{
        font-size: 1.6rem;
    }

    main .title p{
        font-size: 1.6rem;
    }

    .tutorial h5,
    .note h5{
        font-size: 1.8rem;
    }

    .note .tk{
        font-size: 1.6rem;
    }

    .tutorial p,
    .note p{
        font-size: 1.6rem;
    }

    .tutorial span,
    .note span{
        font-size: 1.6rem !important;
    }

    .tutorial ul li,
    .note ul li{
        font-size: 1.6rem !important;
    }

    .note p a{
        font-size: 1.6rem;
    }

    #rootHome table td ul li{
        padding: 0.5rem;
        font-size: 1.4rem;
    }

    .rootPosts .title h5{
        font-size: 3rem !important;
    }

    .rootListPosts{
        display: flex !important;
        flex-direction: column;
    }
    
}

@media screen and (max-width : 760px) {
    #rootHome table th{
        font-size: 1.6rem;
    }


    #rootHome table .tbContent .proAct a{
        padding: 1rem;
        font-size: 1.2rem;
    }

    #rootHome table .tbContent .proAct{
        width: 10rem;
        padding: 1rem 0;
    }

    .viewMore{
        font-size: 1.4rem;
    }


    footer .container {
        display: flex;
        flex-direction: column;
    }

    footer .container>div {
        padding: 1rem;
    }

}

@media screen and (max-width : 500px) {
    header{
        padding: 2rem;
    }

    #rootHome table .tbContent .proInf{
        padding: 0;
    }

    #rootHome table .tbContent .proInf ul li{
        padding: 0.5rem 0;
    }

}
